This script is written to explore and analyze an airbnb dataset using pandas, a complex dataset of Toyko, Japan Airbnb listings.

- DATA INITIAL EXPLORATION -

In [1]:

# We will display the first few rows, general information, and descriptive statistics to get a quick overview of the data structure and contents.
#Import library


import pandas as pd

#load dataset

try:
    df = pd.read_csv(r"C:/Users/Admin/Music/listings.csv")
    print("Dataset loaded successfully")

except Exception as e:
    print(f"Unable trying to get the dataset: {e}")

#Display the info() of the dataset
try:
    dataset = df.info()
    print(dataset)
except Exception as e:
    print(f"Unable to display the info of the dataset: {e}")
else:
    print("Dataset loaded as requested")

Dataset loaded successfully
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25297 entries, 0 to 25296
Data columns (total 79 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            25297 non-null  int64
 1   listing_url                                   25297 non-null  object
 2   scrape_id                                     25297 non-null  int64
 3   last_scraped                                  25297 non-null  object
 4   source                                        25297 non-null  object
 5   name                                          25297 non-null  object
 6   description                                   24879 non-null  object
 7   neighborhood_overview                         14048 non-null  object
 8   picture_url                                   25297 non-null  object
 9   host_id                                       25297 non-null  int64
 10  host_url                                      25297 non-null  object
 11  host_name                                     24485 non-null  object
 12  host_since                                    24342 non-null  object
 13  host_location                                 17235 non-null  object
 14  host_about                                    17303 non-null  object
 15  host_response_time                            23767 non-null  object
 16  host_response_rate                            23767 non-null  object
 17  host_acceptance_rate                          23955 non-null  object
 18  host_is_superhost                             23676 non-null  object
 19  host_thumbnail_url                            24342 non-null  object
 20  host_picture_url                              24342 non-null  object
 21  host_neighbourhood                            6874 non-null   object
 22  host_listings_count                           24342 non-null  float64
 23  host_total_listings_count                     24342 non-null  float64
 24  host_verifications                            24342 non-null  object
 25  host_has_profile_pic                          24342 non-null  object
 26  host_identity_verified                        24342 non-null  object
 27  neighbourhood                                 14048 non-null  object
 28  neighbourhood_cleansed                        25297 non-null  object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      25297 non-null  float64
 31  longitude                                     25297 non-null  float64
 32  property_type                                 25297 non-null  object
 33  room_type                                     25297 non-null  object
 34  accommodates                                  25297 non-null  int64
 35  bathrooms                                     23253 non-null  float64
 36  bathrooms_text                                25251 non-null  object
 37  bedrooms                                      25040 non-null  float64
 38  beds                                          23255 non-null  float64
 39  amenities                                     25297 non-null  object
 40  price                                         23260 non-null  object
 41  minimum_nights                                25297 non-null  int64
 42  maximum_nights                                25297 non-null  int64
 43  minimum_minimum_nights                        25284 non-null  float64
 44  maximum_minimum_nights                        25284 non-null  float64
 45  minimum_maximum_nights                        25284 non-null  float64
 46  maximum_maximum_nights                        25284 non-null  float64
 47  minimum_nights_avg_ntm                        25297 non-null  float64
 48  maximum_nights_avg_ntm                        25297 non-null  float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              25186 non-null  object
 51  availability_30                               25297 non-null  int64
 52  availability_60                               25297 non-null  int64
 53  availability_90                               25297 non-null  int64
 54  availability_365                              25297 non-null  int64
 55  calendar_last_scraped                         25297 non-null  object
 56  number_of_reviews                             25297 non-null  int64
 57  number_of_reviews_ltm                         25297 non-null  int64
 58  number_of_reviews_l30d                        25297 non-null  int64
 59  availability_eoy                              25297 non-null  int64
 60  number_of_reviews_ly                          25297 non-null  int64
 61  estimated_occupancy_l365d                     25297 non-null  int64
 62  estimated_revenue_l365d                       23260 non-null  float64
 63  first_review                                  21724 non-null  object
 64  last_review                                   21724 non-null  object
 65  review_scores_rating                          21724 non-null  float64
 66  review_scores_accuracy                        21720 non-null  float64
 67  review_scores_cleanliness                     21720 non-null  float64
 68  review_scores_checkin                         21720 non-null  float64
 69  review_scores_communication                   21720 non-null  float64
 70  review_scores_location                        21720 non-null  float64
 71  review_scores_value                           21720 non-null  float64
 72  license                                       25278 non-null  object
 73  instant_bookable                              25297 non-null  object
 74  calculated_host_listings_count                25297 non-null  int64
 75  calculated_host_listings_count_entire_homes   25297 non-null  int64
 76  calculated_host_listings_count_private_rooms  25297 non-null  int64
 77  calculated_host_listings_count_shared_rooms   25297 non-null  int64
 78  reviews_per_month                             21724 non-null  float64
dtypes: float64(24), int64(20), object(35)
memory usage: 15.2+ MB
None
Dataset loaded as requested

In [3]:
#Display the first few rows of the dataset and the statictics that describe the dataset
try:
    first_rows = df.head()
    print(first_rows)
except Exception as e:
    print(f"Unable to display the first rows of the dataset: {e}")
else:
    print("First rows displayed as requested")

try:
    stats = df.describe()
    print(stats)
except Exception as  e:
    print(f"Unable to display the stats of the dataset: {e}")

                    id                                       listing_url  \
0  1034638294163485758  https://www.airbnb.com/rooms/1034638294163485758
1  1034640917459370080  https://www.airbnb.com/rooms/1034640917459370080
2  1034643225542448999  https://www.airbnb.com/rooms/1034643225542448999
3  1034682682318099944  https://www.airbnb.com/rooms/1034682682318099944
4  1034886759303593464  https://www.airbnb.com/rooms/1034886759303593464

        scrape_id last_scraped       source  \
0  20250627030533   2025-06-28  city scrape
1  20250627030533   2025-06-28  city scrape
2  20250627030533   2025-06-27  city scrape
3  20250627030533   2025-06-27  city scrape
4  20250627030533   2025-07-01  city scrape

                                                name  \
0            1K/6 min.walk from Korakuen Station/202
1     Near Tokyo Dome/6 min.  walk from Korakuen/d01
2  QY31 JR Train station 5-min walk, airport dire...
3                 温馨和风民宿/最大8人/独享一户建/近车站/免费WiFi/近公园神社
4  10min to SkyTree,Asakusa/Direct access to Airport

                                         description  \
0  4 lines available, new construction, close to ...
1  4 lines available, new construction, close to ...
2  Dear friends, I really appreciate that you rea...
3  Welcome! We are thrilled to invite you and you...
4  It is a new building, 10min walk to Oshiage St...

                               neighborhood_overview  \
0  "Korakuen is home to the Tokyo Dome, a landmar...
1  Korakuen is home to the Tokyo Dome, a landmark...
2                                                NaN
3                                                NaN
4  〈Around the room〉<br />◆10 minutes walk to Osh...

                                         picture_url    host_id  ...  \
0  https://a0.muscache.com/pictures/miso/Hosting-...  507235651  ...
1  https://a0.muscache.com/pictures/miso/Hosting-...  507235651  ...
2  https://a0.muscache.com/pictures/hosting/Hosti...  279064316  ...
3  https://a0.muscache.com/pictures/hosting/Hosti...  512010614  ...
4  https://a0.muscache.com/pictures/miso/Hosting-...  149643001  ...

  review_scores_communication review_scores_location review_scores_value  \
0                         NaN                    NaN                 NaN
1                         NaN                    NaN                 NaN
2                        4.88                   4.83                4.38
3                        4.87                   4.60                4.73
4                        5.00                   4.82                4.94

      license instant_bookable calculated_host_listings_count  \
0  M130033302                t                             74
1  M130033307                t                             74
2  M130019202                t                             38
3  M130036504                t                              1
4  M130037086                t                             22

  calculated_host_listings_count_entire_homes  \
0                                          74
1                                          74
2                                          37
3                                           1
4                                          22

  calculated_host_listings_count_private_rooms  \
0                                            0
1                                            0
2                                            1
3                                            0
4                                            0

  calculated_host_listings_count_shared_rooms reviews_per_month
0                                           0               NaN
1                                           0               NaN
2                                           0              1.26
3                                           0              0.84
4                                           0              0.92

[5 rows x 79 columns]
First rows displayed as requested
                 id     scrape_id       host_id  host_listings_count  \
count  2.529700e+04  2.529700e+04  2.529700e+04         24342.000000
mean   8.785292e+17  2.025063e+13  3.622575e+08            29.774751
std    5.351385e+17  0.000000e+00  2.096646e+08            50.989445
min    1.976770e+05  2.025063e+13  3.222340e+05             1.000000
25%    5.596254e+17  2.025063e+13  1.799119e+08             4.000000
50%    1.105401e+18  2.025063e+13  3.755999e+08            13.000000
75%    1.296093e+18  2.025063e+13  5.458711e+08            37.000000
max    1.450585e+18  2.025063e+13  7.031814e+08           523.000000

       host_total_listings_count  neighbourhood_group_cleansed      latitude  \
count               24342.000000                           0.0  25297.000000
mean                   39.457974                           NaN     35.698085
std                    82.229541                           NaN      0.042667
min                     1.000000                           NaN     35.520940
25%                     6.000000                           NaN     35.687170
50%                    16.000000                           NaN     35.704122
75%                    44.000000                           NaN     35.723532
max                   925.000000                           NaN     35.840764

          longitude  accommodates     bathrooms  ...  \
count  25297.000000  25297.000000  23253.000000  ...
mean     139.737069      4.418824      1.156453  ...
std        0.072960      2.927961      0.541552  ...
min      139.081322      1.000000      0.000000  ...
25%      139.699210      2.000000      1.000000  ...
50%      139.727821      4.000000      1.000000  ...
75%      139.793260      6.000000      1.000000  ...
max      139.914020     16.000000     19.500000  ...

       review_scores_cleanliness  review_scores_checkin  \
count               21720.000000           21720.000000
mean                    4.708854               4.789903
std                     0.367070               0.291071
min                     0.000000               0.000000
25%                     4.600000               4.720000
50%                     4.800000               4.870000
75%                     4.940000               4.970000
max                     5.000000               5.000000

       review_scores_communication  review_scores_location  \
count                 21720.000000            21720.000000
mean                      4.834242                4.713930
std                       0.280005                0.297616
min                       0.000000                0.000000
25%                       4.790000                4.610000
50%                       4.910000                4.770000
75%                       5.000000                4.900000
max                       5.000000                5.000000

       review_scores_value  calculated_host_listings_count  \
count         21720.000000                    25297.000000
mean              4.666555                       24.185279
std               0.348280                       32.041324
min               0.000000                        1.000000
25%               4.560000                        4.000000
50%               4.730000                       11.000000
75%               4.870000                       32.000000
max               5.000000                      176.000000

       calculated_host_listings_count_entire_homes  \
count                                 25297.000000
mean                                     21.942602
std                                      31.238561
min                                       0.000000
25%                                       2.000000
50%                                       8.000000
75%                                      29.000000
max                                     162.000000

       calculated_host_listings_count_private_rooms  \
count                                  25297.000000
mean                                       1.929162
std                                        5.222285
min                                        0.000000
25%                                        0.000000
50%                                        0.000000
75%                                        1.000000
max                                       47.000000

       calculated_host_listings_count_shared_rooms  reviews_per_month
count                                 25297.000000       21724.000000
mean                                      0.260149           1.765417
std                                       2.749065           1.571983
min                                       0.000000           0.010000
25%                                       0.000000           0.780000
50%                                       0.000000           1.470000
75%                                       0.000000           2.440000
max                                      40.000000          42.340000

[8 rows x 44 columns]

In [ ]:
#Check for missing values, duplicated rows, and unusual data types.
#Display the missing values in the dataset
try:
    missing_values = df.isnull().sum()
    print(missing_values)
except Exception as e:
    print(f"unable to display missing values")
else:
    print("no missing values")

id                                                 0
listing_url                                        0
scrape_id                                          0
last_scraped                                       0
source                                             0
                                                ...
calculated_host_listings_count                     0
calculated_host_listings_count_entire_homes        0
calculated_host_listings_count_private_rooms       0
calculated_host_listings_count_shared_rooms        0
reviews_per_month                               3573
Length: 79, dtype: int64
no missinfg values

In [20]:
#Display all columns in the dataset
columns = df.columns
print(cols)

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'availability_eoy',
       'number_of_reviews_ly', 'estimated_occupancy_l365d',
       'estimated_revenue_l365d', 'first_review', 'last_review',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

- DATA CLEANING -
- Convert price fields (e.g., "$2,100.00") to float.
- Parse dates (e.g., last_review) into datetime objects.
- Handle missing values in critical fields like reviews_per_month, host_name, and neighbourhood_group.
- Remove irrelevant rows (e.g., listings with zero availability or price).

In [5]:
#View the first few price values first
price_values = df['price'].head()
print(price_values)

0    $100,000.00
1    $100,000.00
2     $14,550.00
3     $22,012.00
4     $15,429.00
Name: price, dtype: object

In [6]:
#Convert the price fields to float
df['price'] = df['price'].replace('[\$,]', '', regex=True).astype(float)
print(df['price'].head())

0    100000.0
1    100000.0
2     14550.0
3     22012.0
4     15429.0
Name: price, dtype: float64

<>:2: SyntaxWarning: invalid escape sequence '\$'
<>:2: SyntaxWarning: invalid escape sequence '\$'
C:\Users\Admin\AppData\Local\Temp\ipykernel_17812\636248855.py:2: SyntaxWarning: invalid escape sequence '\$'
  df['price'] = df['price'].replace('[\$,]', '', regex=True).astype(float)

In [52]:
#Remove duplicated rows
df.drop_duplicates(inplace=True)

In [ ]:
#Parse dates into datetime objects, first view the last_review column
review = df['last_review'].head()
print(review)

0           NaN
1           NaN
2    2025-04-19
3    2025-06-08
4    2025-06-07
Name: last_review, dtype: object

In [10]:
#Parse date columns into datetime objects

date_columns = ['host_since', 'first_review', 'last_review', 'last_scraped', 'calendar_last_scraped']

for col in date_columns:
    if col in df.columns:
        df[col] = pd.to_datetime(df[col], errors='coerce')  
        print(f"Parsed {col} as datetime.")

Parsed host_since as datetime.
Parsed first_review as datetime.
Parsed last_review as datetime.
Parsed last_scraped as datetime.
Parsed calendar_last_scraped as datetime.

In [ ]:
# Check how many missing values are in the Important columns
Important_cols = ['reviews_per_month', 'host_name', 'neighbourhood_group_cleansed']

df[Important_cols].isnull().sum()

reviews_per_month                3573
host_name                         812
neighbourhood_group_cleansed    25297
dtype: int64

In [ ]:
#Fix the missing values in the reviews_per_month by filling them with 0
try:
    df['reviews_per_month'] = df['reviews_per_month'].fillna(0)
    print("Missing value fixed")
except Exception as e:
    print("Unable to fix missing values")

#Fix the missing values in the host_name by filling them with 'Unknown'
try:
    df['host_name'] = df['host_name'].fillna('Unknown')
    print("Missing value fixed")
except Exception as e: 
    print("Not able to fix")

#Fix the missing values in the neighbourhood by filling them with 'Unknown
try:
    df['neighbourhood_group_cleansed'] = df['neighbourhood_group_cleansed'].fillna("Unknown")
    print("Missing value fixed")
except Exception as e:
    print("Unable to  fix missing values")

columns = df.columns.isnull().sum()
print("Missing values no longer existing in the important columns")

Missing value fixed
Missing value fixed
Missing value fixed
Missing values no longer existing in the important columns

In [ ]:
#Check for listings with zero price or zero availability, we choose availabilty_365 because it covers the entire year
no_price = df[df['price'] == 0].shape[0]
no_availability = df[df['availability_365'] == 0].shape[0]

print(no_price)
print(no_availability)

0
1024

In [ ]:
#The price columns as shown above have no zero values, just the availability_365 column has some zero values but we will remove listings with zero availability and price altogether.
# Remove listings with zero price or availability(that covers the whole year)
df = df[(df['price'] > 0) & (df['availability_365'] > 0)] 
print(df.count())

id                                              23164
listing_url                                     23164
scrape_id                                       23164
last_scraped                                    23164
source                                          23164
                                                ...
calculated_host_listings_count                  23164
calculated_host_listings_count_entire_homes     23164
calculated_host_listings_count_private_rooms    23164
calculated_host_listings_count_shared_rooms     23164
reviews_per_month                               23164
Length: 79, dtype: int64

In [ ]:
#Check again after cleaning: for listings with zero price or zero availability
no_price = df[df['price'] == 0].shape[0]
no_availability = df[df['availability_365'] == 0].shape[0]

print(no_price)
print(no_availability)
print("All ")

0
0

- DATA ENRICHMENT -

In this section, we enhance our dataset by creating new, more meaningful features derived from existing data, emphasis on "new, more meaningful features".
This helps make future analysis (like pricing trends or availability patterns) more insightful.
So we would:
- Create a price_per_booking column using price and minimum_nights. 
- Bucket availability into categories:
- Full-time (availability > 300)
- Part-time (100–300)
- Rare (<100)

In [32]:
#We create a column called price_per_booking, which represents the minimum estimated cost a guest would pay for a booking.
#price_per_booking=price×minimum_nights

df['price_per_booking'] = df['price'] * df['minimum_nights']

# Display a few rows to confirm it worked
df[['price', 'minimum_nights', 'price_per_booking']].head()

      price  minimum_nights  price_per_booking
0  100000.0              30          3000000.0
1  100000.0              30          3000000.0
2   14550.0               1            14550.0
3   22012.0               2            44024.0
4   15429.0               5            77145.0

In [37]:
#Create a new column called availability_category to categorize listings, bucketing the availability_365 into three categories: 
#Full-time, part time, and rare
#Define a function to categorize availabilty

def categorize_availability(days):
    if days > 300:
        return 'Full-time'
    elif days <= days <= 300:
        return 'Part-time'
    else:
        return rare


df['availability_category'] = df['availability_365'].apply(categorize_availability)
(df['availability_category']).tail()
(df['availability_category']).head()

0    Part-time
1    Part-time
2    Part-time
3    Part-time
4    Part-time
Name: availability_category, dtype: object

DATA ANALYSIS USING PANDAS

In this section, the dataset is being explored to uncover patterns and insights related to pricing, availability, hosts, and neighborhoods. We will answer several key questions to help us understand the listings in more detail. Why do we need 

QUESTIONS-
- What are the top 10 most expensive neighborhoods by average price?
- What’s the average availability and price by room type?
- Which host has the most listings?
- How does average price vary across different boroughs or districts?
- How many listings have never been reviewed?
- Write a summary of 3–5 key insights you found through your analysis

In [ ]:
#What are the top 10 most expensive neighborhoods by average price?
#  Identify neighborhoods with the highest average price to determine where the priciest listings are concentrated.


#First group by neighbourhood and calculate the average price for each neighbourhood and then sort them in descending order to get the top 10 most expensive neighbourhoods

#avg_price by neighborhood
avg_price_by_neighborhood = df.groupby('neighbourhood_cleansed')['price'].mean()

#Sort in descending order and select the top 10
top_10_expensive_neighborhoods = avg_price_by_neighborhood.sort_values(ascending=False).head(10)

print(top_10_expensive_neighborhoods)

neighbourhood_cleansed
Adachi Ku        42850.361257
Hinohara Mura    34892.000000
Shibuya Ku       32323.166128
Arakawa Ku       30909.345622
Akiruno Shi      29243.142857
Minato Ku        26616.048565
Shinjuku Ku      24047.848952
Meguro Ku        23148.470085
Chiyoda Ku       23096.985222
Chuo Ku          22925.462406
Name: price, dtype: float64

In [42]:
#What’s the average availability and price by room type? Average availability and price can help identify which roon typed are more popular and potentially more prfitable.
avg_availability_price_by_room_type = df.groupby('room_type').agg({'availability_365': 'mean', 'price': 'mean'})
print(avg_availability_price_by_room_type)

                 availability_365         price
room_type
Entire home/apt        193.905982  22309.818804
Hotel room             133.989247  25455.408602
Private room           192.129603  16404.032578
Shared room            184.273973   4696.018265

In [ ]:
#Which host has the most listings? We can identify hosts with the most listings to understand who the major players are in the market.

#count the number of listings per host
host_listing_counts = df['host_name'].value_counts()

#Get the host with the max listings
host_listing_counts.head(1)

host_name
圭太    2357
Name: count, dtype: int64

In [ ]:
#How does average price vary across different boroughs or districts? We are analyzing price variations across locations to identify high-value areas for potential investment or marketing focus. 

avg_price_by_neighbourhood = df.groupby('neighbourhood_cleansed')['price'].mean().sort_values(ascending=False).head(10)
print(avg_price_by_neighbourhood)

neighbourhood_cleansed
Adachi Ku        42850.361257
Hinohara Mura    34892.000000
Shibuya Ku       32323.166128
Arakawa Ku       30909.345622
Akiruno Shi      29243.142857
Minato Ku        26616.048565
Shinjuku Ku      24047.848952
Meguro Ku        23148.470085
Chiyoda Ku       23096.985222
Chuo Ku          22925.462406
Name: price, dtype: float64

In [48]:
#How many listings have never been reviewed? We need information on listings that have never been reviewed to assess their popularity and potential issues affecting guest satisfaction. 
not_reviewed_count = not_reviewed_count = (df['number_of_reviews'] == 0).sum()
print(not_reviewed_count)

3238

In [50]:
#We can dig deeper to find listings that have never been reviewed, but are not newly added, so we focus on listings that have been available for a while yet still have zero reviews.
import pandas as pd

# Filter listings never reviewed
never_reviewed = df[df['number_of_reviews'] == 0]

# Define non-new listings as hosted for more than 180 days
non_new_never_reviewed = never_reviewed[never_reviewed['host_since'] <= pd.Timestamp.today() - pd.Timedelta(days=180)]

# Display sample
non_new_never_reviewed[['id', 'name', 'host_name', 'host_since', 'number_of_reviews']].head(10)

,id,name,host_name,host_since,number_of_reviews
0,1034638294163485758,1K/6 min.walk from Korakuen Station/202,Sumyca,2023-03-26,0
1,1034640917459370080,Near Tokyo Dome/6 min. walk from Korakuen/d01,Sumyca,2023-03-26,0
17,1035043115554027608,12 min. walk from Asakusa station! free Wi-Fi ...,Sumyca,2019-12-09,0
26,1035945495569464531,Built in 2023/5-minute walk from the station/b02,圭太,2023-06-14,0
52,1036074028218460933,Walking distance to Sky Tree/near downtown/701,圭太,2023-03-13,0
61,1035174578706048387,2022 Architecture/Sky Tree /304,Sumyca,2022-11-02,0
224,1043821510790931855,<2 min walk from station >work remotely/e01,圭太,2021-10-19,0
227,1043838713990480592,【5mins walk | Azabu】1R | Fully furnished Azabu...,Stump,2023-12-04,0
244,1043945748944948078,3 min walk from Oshiage Sta/near Asakusa/j01,圭太,2021-11-24,0
246,1043963565843234508,Waseda Station Waseda University nearby/c05,Sumyca,2023-01-05,0

In [ ]:
#Additionally, let us consider listings that are active and available, but still have zero reviews.
non_new_active_never_reviewed = never_reviewed[never_reviewed['availability_365'] > 0]

non_new_active_never_reviewed[['id', 'name', 'host_name', 'availability_365', 'number_of_reviews']].head(10)

,id,name,host_name,availability_365,number_of_reviews
0,1034638294163485758,1K/6 min.walk from Korakuen Station/202,Sumyca,251,0
1,1034640917459370080,Near Tokyo Dome/6 min. walk from Korakuen/d01,Sumyca,237,0
17,1035043115554027608,12 min. walk from Asakusa station! free Wi-Fi ...,Sumyca,242,0
26,1035945495569464531,Built in 2023/5-minute walk from the station/b02,圭太,207,0
52,1036074028218460933,Walking distance to Sky Tree/near downtown/701,圭太,236,0
61,1035174578706048387,2022 Architecture/Sky Tree /304,Sumyca,255,0
211,1043774012183607906,【91 sqm/2LDK】Suite Room /Built in 2022/Akasaka,Unknown,249,0
224,1043821510790931855,<2 min walk from station >work remotely/e01,圭太,166,0
227,1043838713990480592,【5mins walk | Azabu】1R | Fully furnished Azabu...,Stump,93,0
244,1043945748944948078,3 min walk from Oshiage Sta/near Asakusa/j01,圭太,169,0

In [53]:
#Save the cleaned dataset to a new csv file

df.to_csv("cleaned_listings.csv", index=False)